<h1 class="text-center fw-bold">Mes Contacts</h1>
<a href="/contacts/new" class="btn btn-primary mb-3">Ajouter un contact</a>

<% if (contacts.length === 0) { %>
<p>Vous n'avez pas encore de contacts.</p>
<% } else { %>
<div class="table-responsive">
  <table class="table table-striped w-100">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Email</th>
        <th>Téléphone</th>
        <th>Adresse</th>
        <th>Création</th>
        <th>Mise à jour</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% contacts.forEach(contact => { %>
      <tr>
        <td><%= contact.name %></td>
        <td><%= contact.email %></td>
        <td><%= contact.phone %></td>
        <td><%= contact.address %></td>
        <td><%= contact.createdAt.toLocaleString() %></td>
        <td><%= contact.updatedAt.toLocaleString() %></td>
        <td>
          <a
            href="/contacts/<%= contact._id %>/edit"
            class="btn btn-sm btn-outline-warning mb-2"
            ><i class="bi bi-pencil-fill"></i
          ></a>
          <form
            action="/contacts/<%= contact._id %>?_method=DELETE"
            method="POST"
            style="display: inline"
          >
            <button type="submit" class="btn btn-sm btn-outline-danger">
              <i class="bi bi-trash3-fill"></i>
            </button>
          </form>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
  <% } %>
</div>
